{% extends "index.html"  %}
{% block content %}

<h2 style="text-align:center;">Software engineering project</h2>
<p > Hi there and welcome to this project.This project dsiplays some interesting data such as the total lines of code in a repository after each commit to that repository. When you login it takes you to a homepage which will show you the language breakdown across all your repos. This homepage also allows you to query any of your repos and see the language breakdown and graphs the commits over time in that repo.  This project was made using flask</p>
<p style="text-align:center;"> so you can click <a href="/login">login </a> to login or if you're already logged in click <a href="/homepage">here</a></p>
{% endblock %}
