<html>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <header class="Header">
    <div>SWENG: <a href="/index">Home</a>, 
      {% if 'username' in session   %}
        <a href="/homepage">Homepage</a>
        <a href="/logout"> logout</a>
        <a href="/loc">Lines of code</a>
      {% else %}
      <a href="/login">Login</a>
      {% endif %}
    </div>
    {% if title %}
    <title>{{ title }} </title>
    {% else %}
    <title>SWENG-Git</title>
    {% endif %}
  </header>
  <body>
    
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
